.container {
  position: relative;
  margin: 100px auto;
  width: 100%;
  max-width: 1600px;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background: #107ABB;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
}

.column {
  padding: 5px 10px 5px 10px;
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #DEE2E5;
  gap: 10px;
  border-radius: 4px;
}

.task-box {
  display: flex;
  min-height: 30px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.task {
  position: relative;
  padding: 5px 20px 5px 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  background: #ffffff;
  color: #444444;
  border-radius: 10px;
  cursor: pointer;
}

.task-title {
  padding: 1px;
  margin: 1em;
  font-size: 1em;
}

.task-title:hover {
  cursor: grabbing;
}

.add {
  width: 100%;
}

.task-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.task:hover {
  outline: 3px solid #3680f0;
}

.task:hover > .task-close {
  display: block;
}

.header {
  padding: 10px;
  font-weight: 600;
}

.footer {
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.input-box {
  position: relative;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.input-task-title {
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

.input-add {
  width: 100px;
  height: 40px;
  background: #5CA84D;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.input-close {
  position: relative;
  cursor: pointer;
}

.input-footer {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
}

.blank {
  position: relative;
  display: block;
  background: #dee2e5;
}

.dragged {
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background: #fff;
}

.btn {
  position: absolute;
  top: -80px;
  right: 0px;
  width: 100px;
  padding: 5px 10px;
  background: #c5c5c5;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}